.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  
h2 {
    text-align: center;
}

.react-calendar {
    width: 800px !important;
    max-width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
}
.react-calendar__month-view__days__day {
    height: 80px;
    position: relative;
  }

.react-calendar__tile abbr {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 1.2rem;
}

.react-calendar__navigation button {
    font-size: 1.8rem;
    padding: 15px;
}
